<div class="row">
    <div class="col-md-6">
        <h5>Basic Info</h5>
        <p><strong>Faction:</strong> @Armor.Faction</p>
        <p><strong>Armor Type:</strong> @Armor.ArmorType</p>
        <p><strong>Description:</strong> @Armor.Description</p>
    </div>
    <div class="col-md-6">
        <h5>Protection Stats</h5>
        @if (Armor.armor > 0)
        {
            <p style="color: green;">
                <strong>Armor:</strong> @Armor.armor.ToString("F1")
            </p>
        }
        @if (Armor.armor < 0)
        {
            <p style="color: red;">
                <strong>Armor:</strong> @Armor.armor.ToString("F1")
            </p>
        }
        @if (Armor.shielding > 0)
        {
            <p style="color: green;">
                <strong>Shielding:</strong> @Armor.shielding.ToString("F1")
            </p>
        }
        @if (Armor.shielding < 0)
        {
            <p style="color: red;">
                <strong>Shielding:</strong> @Armor.shielding.ToString("F1")
            </p>
        }
        @if (Armor.resistance > 0)
        {
            <p style="color: green;">
                <strong>Resistance:</strong> @Armor.resistance.ToString("F1")
            </p>
        }
        @if (Armor.resistance < 0)
        {
            <p style="color: red;">
                <strong>Resistance:</strong> @Armor.resistance.ToString("F1")
            </p>
        }
        @if (Armor.reflection > 0)
        {
            <p style="color: green;">
                <strong>Reflection:</strong> @Armor.reflection.ToString("F1")
            </p>
        }
        @if (Armor.reflection < 0)
        {
            <p style="color: red;">
                <strong>Reflection:</strong> @Armor.reflection.ToString("F1")
            </p>
        }
        @if (Armor.endurance > 0)
        {
            <p style="color: green;">
                <strong>Endurance:</strong> @Armor.endurance.ToString("F1")
            </p>
        }
        @if (Armor.endurance < 0)
        {
            <p style="color: red;">
                <strong>Endurance:</strong> @Armor.endurance.ToString("F1")
            </p>
        }
        @if (Armor.defenseRating > 0)
        {
            <p style="color: green;">
                <strong>Defense Rating:</strong> @Armor.defenseRating.ToString("F1")%
            </p>
        }
        @if (Armor.defenseRating < 0)
        {
            <p style="color: red;">
                <strong>Defense Rating:</strong> @Armor.defenseRating.ToString("F1")%
            </p>
        }
        @if (Armor.blockRating > 0)
        {
            <p style="color: green;">
                <strong>Block Rating:</strong> @Armor.blockRating.ToString("F1")%
            </p>
        }
        @if (Armor.blockRating < 0)
        {
            <p style="color: red;">
                <strong>Block Rating:</strong> @Armor.blockRating.ToString("F1")%
            </p>
        }
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <h5>Attributes</h5>
        @if (Armor.agility > 0)
        {
            <p style="color: green;">
                <strong>Agility:</strong> @Armor.agility.ToString("F1")%
            </p>
        }
        @if (Armor.agility < 0)
        {
            <p style="color: red;">
                <strong>Agility:</strong> @Armor.agility.ToString("F1")%
            </p>
        }
        @if (Armor.weaponRecoil > 0)
        {
            <p style="color: red;">
                <strong>Weapon Recoil:</strong> @Armor.weaponRecoil.ToString("F1")%
            </p>
        }
        @if (Armor.weaponRecoil < 0)
        {
            <p style="color: green;">
                <strong>Weapon Recoil:</strong> @Armor.weaponRecoil.ToString("F1")%
            </p>
        }
        @if (Armor.criticalOffenseRating > 0)
        {
            <p style="color: red;">
                <strong>Critical Offense Rating:</strong> @Armor.criticalOffenseRating.ToString("F1")%
            </p>
        }
        @if (Armor.criticalOffenseRating < 0)
        {
            <p style="color: green;">
                <strong>Critical Offense Rating:</strong> @Armor.criticalOffenseRating.ToString("F1")%
            </p>
        }
        @if (Armor.addiction > 0)
        {
            <p style="color: red;">
                <strong>Addiction:</strong> @Armor.addiction.ToString("F2")%
            </p>
        }
        @if (Armor.addiction < 0)
        {
            <p style="color: green;">
                <strong>Addiction:</strong> @Armor.addiction.ToString("F2")%
            </p>
        }
        @if (Armor.addictionTreatment > 0)
        {
            <p style="color: green;">
                <strong>Addiction Treatment:</strong> @Armor.addictionTreatment.ToString("F2")%
            </p>
        }
        @if (Armor.addictionTreatment < 0)
        {
            <p style="color: red;">
                <strong>Addiction Treatment:</strong> @Armor.addictionTreatment.ToString("F2")%
            </p>
        }
        @if (Armor.protectionReduction > 0)
        {
            <p style="color: red;">
                <strong>Protection Reduction:</strong> @Armor.protectionReduction.ToString("F1")%
            </p>
        }
        @if (Armor.protectionReduction < 0)
        {
            <p style="color: green;">
                <strong>Protection Reduction:</strong> @Armor.protectionReduction.ToString("F1")%
            </p>
        }
    </div>
    <div class="col-md-6">
        <h5>Regeneration & Drain</h5>
        @if (Armor.healthRegeneration > 0)
        {
            <p style="color: green;">
                <strong>Health Regeneration:</strong> @Armor.healthRegeneration.ToString("F1")
            </p>
        }
        @if (Armor.healthRegeneration < 0)
        {
            <p style="color: red;">
                <strong>Health Regeneration:</strong> @Armor.healthRegeneration.ToString("F1")
            </p>
        }

        @if (Armor.bioRegeneration > 0)
        {
            <p style="color: green;">
                <strong>Bio Regeneration:</strong> @Armor.bioRegeneration.ToString("F1")
            </p>
        }
        @if (Armor.bioRegeneration < 0)
        {
            <p style="color: red;">
                <strong>Bio Regeneration:</strong> @Armor.bioRegeneration.ToString("F1")
            </p>
        }

        @if (Armor.auraRegeneration > 0)
        {
            <p style="color: green;">
                <strong>Aura Regeneration:</strong> @Armor.auraRegeneration.ToString("F1")
            </p>
        }
        @if (Armor.auraRegeneration < 0)
        {
            <p style="color: red;">
                <strong>Aura Regeneration:</strong> @Armor.auraRegeneration.ToString("F1")
            </p>
        }

        @if (Armor.staminaRegeneration > 0)
        {
            <p style="color: green;">
                <strong>Stamina Regeneration:</strong> @Armor.staminaRegeneration.ToString("F1")
            </p>
        }
        @if (Armor.staminaRegeneration < 0)
        {
            <p style="color: red;">
                <strong>Stamina Regeneration:</strong> @Armor.staminaRegeneration.ToString("F1")
            </p>
        }

        @if (Armor.healthDrain > 0)
        {
            <p style="color: red;">
                <strong>Health Drain:</strong> @Armor.healthDrain.ToString("F1")
            </p>
        }
        @if (Armor.healthDrain < 0)
        {
            <p style="color: green;">
                <strong>Health Drain:</strong> @Armor.healthDrain.ToString("F1")
            </p>
        }

        @if (Armor.bioEnergyDrain > 0)
        {
            <p style="color: red;">
                <strong>Bio Energy Drain:</strong> @Armor.bioEnergyDrain.ToString("F1")
            </p>
        }
        @if (Armor.bioEnergyDrain < 0)
        {
            <p style="color: green;">
                <strong>Bio Energy Drain:</strong> @Armor.bioEnergyDrain.ToString("F1")
            </p>
        }
    </div>
</div>

@code {
    [Parameter]
    public Armor Armor { get; set; } = null!;
}